body {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-image: url("bg.jpg");
    background-size: cover; 
    text-align: center;
    color: white;
    font-weight: bold;
}

div {
    align-content: center;
    background-color: rgba(0, 0, 0, 0.397);
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 10%;
    padding-top: 20px;
    padding-bottom: 20px;
}

h1 {
    color: goldenrod;
}

#message-el {
    font-style: italic;
}

button {
    background: goldenrod;
    width: 150px;
    color: #016f32;
    font-weight: bold;
    padding-top: 5px;
    padding-bottom: 5px;
    border: none;
    border-radius: 2px;
    margin-bottom: 2px;
    margin-top: 2px;
}

button:hover {
    border: 2px, solid, #ffffff;
    box-shadow: 0 0 12px #ffffff;
    background-color: #016f32;
    color: #ffffff;
}

.box {
    width: 50px;
    height: 50px;
    background-color: #fdd;
    transform-origin: left top;
  }